[2022-06-23 21:59] johnterickson opened #18 "Actions/Pipelines YAML examples"

[2022-06-27 16:47] aasim opened #32 "Gendocs build hangs"
Make any chnages in the IConfiguration.cs file, and that will trigger the gendocs build, however the build currently hangs without showing any error.

Running locally on Ubuntu, the build fails with this error, the package is already present in the feed:
[code]

[2022-06-28 18:12] edgarrs opened #34 "Update how to execute the tool in the read me documentation"

[2022-06-28 18:13] edgarrs opened #35 "Add sample SBOM produced by the tool"

[2022-06-28 18:19] edgarrs opened #36 "Add SBOM generation to PR build"

[2022-06-28 18:20] edgarrs opened #37 "Add SBOM generation to release workflows so packages produced include SBOMs"

[2022-06-28 21:57] johnterickson commented on #18
Just made a hacky bash script for my personal repo: https://github.com/johnterickson/cargo2junit/pull/61/files

[2022-07-06 00:42] aasim commented on #37
Fixed and deploiyed

[2022-07-06 00:42] #37 closed

[2022-07-06 00:43] aasim commented on #34
fixed

[2022-07-06 00:43] #34 closed

[2022-07-06 00:57] #35 closed

[2022-07-12 18:26] nsmith5 opened #43 "`No usable version of libssl was found` on Linux"
On Linux I get the following error message.

OS: Fedora 36
ARch: x86_64

[code]

[2022-07-12 18:30] nsmith5 opened #44 "Sign sbom-tool releases"
Would be nice to be able to verify that releases of `sbom-tool` are build by CI by using e.g sigstore to sign binaries

[2022-07-12 18:55] nsmith5 commented on #43
Needed to install openssl1.1 to fix. Should be documented as a requirement I think

[2022-07-12 19:10] Brend-Smits commented on #44
I was thinking the same. Would love to help here if possible.

[2022-07-13 10:15] patriksvensson opened #45 "Can't compile due to private NuGet feed"
When doing a package restore, I see a lot of 401 responses from some package source that's in use.
Any idea what I should do to be able to compile this?

[code]

[2022-07-13 15:35] JamieMagee opened #47 "Update to .NET 6.0"
After Dec 3 2022 .NET 3.1 will no longer be supported or patched.

Related to https://github.com/microsoft/component-detection/issues/107

[2022-07-13 18:58] Dentrax commented on #44
It would also nice to generate provenance using [slsa-provenance-action](https://github.com/philips-labs/slsa-provenance-action) in CI. Should I create another issue for this?

[2022-07-13 19:18] HowardvanRooijen commented on #45
Isn't the `nuget.config` in the repo root pointing to a private package feed?

[2022-07-13 22:13] lee0c opened #50 "consistent error of `1: Not: not found`"
Trying to use this tooling (linux binary) in WSL.

I've `curl`ed the link from the releases page:
[code]

So far anything I attempt to run results in `/usr/local/bin/salus: 1: Not: not found`, even commands like `salus -h`. Specifying verbosity doesn't change the outcome.

Any pointers?

[2022-07-13 23:11] ByAgenT commented on #50
What distro do you use with WSL? I am able to run the tool in Ubuntu and Debian distributions following your commands. It might be that some dependencies are missing in your distribution we are not aware of yet.

[2022-07-13 23:29] lee0c commented on #50
@ByAgenT Ubuntu 20.04.4 LTS (GNU/Linux 4.19.128-microsoft-standard x86_64)

[2022-07-14 05:17] stephenrwalli opened #53 "Mac OS sbom-tool build failure on NU1301"
M1 Mac running Monterey (Mac OS 12.4).
Installed .NET. (https://docs.microsoft.com/en-us/dotnet/core/install/macos).
Set environment (DOTNET_ROOT).
Proved .NET installation works by creating 'hello world'. (https://docs.microsoft.com/en-us/dotnet/core/get-started)

Clone sbom-tool. cd into sbom-tool.
Attempt dotnet build. Fails on SDK mismatch, but helpfully tells me to update global.json.
Updated

[2022-07-14 06:26] patriksvensson commented on #45
@HowardvanRooijen Yes! Removing the nuget.config makes it compile.

[2022-07-14 09:17] sascha-andres opened #54 "Object reference not set to an instance of an object"
When trying to run salus on a go project and after `Scan Manifest file` I get the mentioned error. I tried with one of my own and another open source project, both fail.

I attach the scan files for you, just in case you need them to give me a hint

Thanks for looking into this

[ScanManifest_20220714111446.txt](https://github.com/microsoft/sbom-tool/files/9110450/ScanManifest_20220714111446.txt)

[2022-07-14 13:11] bkrpub opened #55 "Crash (Object reference not set to an instance of an object) while generating manifest"
Using the v0.1.2 release binaries, this happens equally on macOS (12.4) and Debian x86 (10.10):

##[error]Encountered an error while generating the manifest.
##[error]Error details: Object reference not set to an instance of an object.

When I give the -m option, a .json file stays around which is incomplete.

It happens with all node / vue projects I tried and also on an Xcode project.

I can rep

[2022-07-14 17:05] bbhorrigan commented on #55
I am having a very similar issue, using Visual Studio and X Code.

[2022-07-14 17:18] lee0c commented on #50
If I start an Azure Cloud Shell session and download & run Salus there, `salus -h` displays reasonable help text with no errors 🎉So yes, the above reported error does seem to be something specific to my WSL distro

I've also run into some odd behaviour surrounding the command in CI pipelines, but I will detail that in another issue as it is likely sufficiently separate.

[2022-07-14 17:27] lee0c opened #56 "CI pipelines hang indefinitely on `salus -h`"
In two sample CI pipelines, one using Azure DevOps and one using GitHub Actions (both linux agents), I've so far found that `salus -h` hangs indefinitely until the task/step is canceled by the pipeline or a user (up to 60 min on AzDO, 20 min on GH - just hitting standard pipeline timeouts), but a properly parameter-supplied `salus generate` command can run fine.

Both systems have logging output o

[2022-07-14 19:29] cmaclaughlin commented on #44
Do you mean have this tool sign the users' release (binaries/image) or that releases of this tool should signed as a part of the CI/CD process so users could validate they are installing the intended tool?

[2022-07-14 19:32] cmaclaughlin commented on #44
Generating provenance in any format is & should be separate from signing, please create a separate issue.

[2022-07-14 19:38] cmaclaughlin commented on #50
@ByAgenT is there a hard dependency on the .Net runtime?

[2022-07-14 19:39] aasim commented on #44
Thanks for all your inputs, we are in the process of verifying some changes in our CI/CD pipeline, after which we will start publishing signed artifacts.

[2022-07-14 19:42] aasim commented on #45
The feed mentioned in the nuget.config is a public feed, and it doesn't need authentication, but it might be missing some packages that your specific build environment requires. We are in the process of moving all our required packages to nuget.org after which this public feed won't be required.

Can you please send me your build environment and .net sdk versions and I will make sure that all thos

[2022-07-14 19:44] aasim commented on #50
Did you make the file executable? Also, can you please run the file from the place it was downloaded first to check if the file runs correctly?

You can do `chmod a+x salus` to make the file executable.

[2022-07-14 19:57] aasim commented on #54
Sorry this was a known issue due to us trimming the binaries to save space. Please try out the new version 0.1.3 of the tool, that has the fix for this issue.
https://github.com/microsoft/sbom-tool/releases/tag/v0.1.3

[2022-07-14 19:57] #54 closed

[2022-07-14 19:58] aasim commented on #55
Sorry this was a known issue due to us trimming the binaries to save space. Please try out the new version 0.1.3 of the tool, that has the fix for this issue.
https://github.com/microsoft/sbom-tool/releases/tag/v0.1.3

[2022-07-14 19:58] #55 closed

[2022-07-14 20:02] nsmith5 commented on #44
@cmaclaughlin to clarify: Releases of this tool should be signed

[2022-07-14 20:10] aasim commented on #53
@stephenrwalli the public feed was missing certain packages, I have added them now, can you please retry?

[2022-07-14 22:41] lee0c commented on #50
@aasim I included `chmod +x` in my writeup above, yes. I tried a few different variations of running it directly after downloading, moving it to a folder on my $PATH, etc - no change in result so I have no reason to believe the `mv` command is affecting the outcome.

I think @cmaclaughlin 's question is likely pointing to the source of it. Azure Cloud Shell has dotnet runtime by default, whereas i

[2022-07-14 23:06] stevespringett opened #59 "Salus name conflicts with existing tool"
The name "Salus" is already an established security tool, which among other things generates CycloneDX SBOMs from dependency manifests. Salus is a project from Coinbase, and has been listed on the [CycloneDX Tool Center](https://cyclonedx.org/tool-center/) for quite some time now.

https://github.com/coinbase/salus

Microsoft Salus creates confusion in the market and should be renamed.

[2022-07-15 00:44] stephenrwalli commented on #53
Retried. Better. Still possibly missing a few things (down to 5 NU1301 errors).
[code]

[2022-07-15 20:31] ByAgenT commented on #50
@cmaclaughlin The binary is published in self-contained mode and has .NET runtime bundled in it. But it seems like for Linux environment it is still requiring some dependencies to be installed on the current dist. @lee0c can you please try install CoreCLR dependencies and see if it resolves the issue? I took this [from this example](https://github.com/dotnet/cli/blob/rel/1.0.0/scripts/docker/ubunt

[2022-07-15 22:16] lee0c commented on #50
@ByAgenT I'm surprised I'm not getting an error such as in #43 if that's the case, but I'll give it a shot.

[2022-07-15 22:39] lee0c commented on #50
@ByAgenT No change, unfortunately

[2022-07-16 00:27] bureado commented on #50
Looks like something went wrong with the download and the saved file is plaintext instead of an x64 ELF.

[2022-07-16 01:26] ByAgenT commented on #56
Was able to repro hang in Docker for `salus -h` and just `salus` in container as well:
[code]

Generation flow though works fine and completes:
[code]

What's curious is that if I bash into container via `docker exec` I can run `salus -h` just fine. Could be something wrong w/ library that outputs help to `stdout`. Needs more investigation.

[2022-07-16 01:34] bureado commented on #56
Can repro in GHA, in Cloud Shell when redirecting salus -h output to a file.

Can't repro in WSL2.

[2022-07-16 01:35] ByAgenT commented on #50
I still couldn't repro this error and so far couldn't confirm if the problem with the tool itself. Tried WSL Ubuntu w/ .NET installed, freshly installed Debian in WSL w/out .NET runtime and Ubuntu 20.04 in Docker w/out .NET runtime, all works fine. Is the error limited to only one specific installation of WSL or you can repro that from clean distro install? If it's only failing for specific instal

[2022-07-16 01:55] lee0c commented on #50
@bureado reached out and gave me a few troubleshooting ideas. Running `file /usr/local/bin/salus' spit out `/usr/local/bin/salus: ASCII text, with no line terminators` as said above.

We found out that using `wget` got me a working binary - but this seemed really weird so I went looking further.

I found that I couldn't replicate the bad download today with curl, using either version 0.1.2 or 0.1.

[2022-07-16 01:55] #50 closed

[2022-07-16 02:50] bureado commented on #56
There appears to be a compound scenario where `STDOUT` for `salus` isn't a terminal (but a pipe or a file, for example) and `TERM` isn't set, which seems concomitant in GHA, and likely ADO. I don't know enough about .NET Core to track down which NuGet dependency(ies) are involved.

As a workaround set `TERM` to something. For example, `TERM=linux`.

[2022-07-16 03:48] ByAgenT commented on #56
@bureado thanks a lot for your investigation and for providing workaround! I would expect the same scenario applies to Docker containers as well.

Also it seems that main scenario of SBOM generation isn't blocked because of this issue and tool should produce SBOM in both GHA/ADO with valid arguments.

@aasim FYI. We probably need to check if that's fixable in our code and submit an issue/fix to Po

[2022-07-16 03:53] bureado commented on #56
I would also try #47. Using 6.0 to build PowerArgs HEAD I get samples that don't hang. I just don't know if that's because of newer code, or because of 6.0.

[2022-07-18 14:27] newertp opened #62 "For now, I need to generate sbom of python or go project with this sbom-tool, how should I do?"

[2022-07-18 16:16] waynebeaton opened #63 "Generated SBOM includes Git data and ephemeral build artifacts"
The generated SBOM includes information from the `.git` folder. Likewise, it would be good to have it ignore the contents of NPM `node_modules` directories and Maven `/target/` directories.

AFAICT, there's no option to exclude these directories from the results.

One option would be to have the tool honour the ignore list specified in `.gitignore` files.

Note that a `.gitignore` file itself is a

[2022-07-18 16:25] waynebeaton opened #64 "Does not detect Maven pom.xml file"
I've only just started tinkering with the tool, so I may be missing something important.

The tool fails to find a `pom.xml` file in the directory that I specify as the `BuildComponentPath`, nor any of the other `pom.xml` files in nested directories. It does find two `package-lock.json` and one `yarn.lock` file nested in the build component path hierarchy.

Is some additional configuration require

[2022-07-18 21:01] johnterickson commented on #59
Thanks for pointing this out @stevespringett. Addressed in #65.  Blog post is being updated as well.

[2022-07-18 21:03] #59 closed, assigned to daneshbadlani

[2022-07-18 21:08] ByAgenT commented on #64
@waynebeaton do you have Maven installed and available in your PATH? IIRC it should be installed to detect Maven components. You can also try to run the tool with `-Verbosity Verbose`, it may give you move information about why some component detection doesn't work.

[2022-07-19 01:33] newertp commented on #62
I have made node related project successfully, as the dependent packages all have package.json, but it seems that it does not auto detection when it is python related project.

[2022-07-19 06:24] newertp commented on #62
I have found the way this sbom-tool supporting other programing languages, they are in the VERBOSE log. Please feel free to put them on obvious position, like README.md. Thanks

[2022-07-19 06:25] #62 closed

[2022-07-19 17:05] aasim commented on #64
@waynebeaton as Anton mentioned, you need to have `mvn` in your path for detection to work. You can read more about how we detect maven packages [here](https://github.com/microsoft/component-detection/blob/1be0a786d9b543631b43c42df3b4637545cbeed3/docs/detectors/maven.md#L2).

[2022-07-19 17:39] waynebeaton commented on #64
That did it. Thanks.

[2022-07-19 17:39] #64 closed

[2022-07-19 18:10] waynebeaton opened #66 "Deletes the _manifest folder anyway"
When I run the tool a second time, I get this error message:

[code]

The `DeleteManifestDirIfPresent` environment variable is not set, but it deletes the folder anyway.

I've tested it after setting `DeleteManifestDirIfPresent` as described and it works as expected.

[2022-07-19 18:45] nuvan opened #67 "Win64 release installer ends with no output and no 'generate' becomes available."
I'm using a Windows 11 machine. I've downloaded the installer executable from the Releases section and run it after going over the security dialogue.
The console applications close almost instantly and I can't find any 'generate' command.

[2022-07-20 06:58] sachinshaji opened #68 "Error while running the generate command"
Command 1 : sudo dotnet run -p sbom-tool/src/Microsoft.Sbom.Tool generate -b builddrop -bc my-npm-repo-folder -pn NPM -nsb "https://mycompany.com"

What I expect: generator should automatically pic the package name and package version from my folder/project/repo
What is happening: ##[error]Encountered an error while generating the manifest.
##[error]Error details: Unable to generate a package vers

[2022-07-20 16:19] aasim commented on #67
How are you running the command? The binary in the releases page is not an installer, but a CLI executable. You need to open a new powershell or cmd window and run the command inside there to generate the SBOM.

[2022-07-20 16:33] sachinshaji commented on #68
Yes this help. Thanks a lot for your time.

[2022-07-20 16:33] #68 closed

[2022-07-20 18:19] aasim commented on #44
Hi all - we now have pushed a change that will publish signed artifacts for our releases. Please check out version 0.1.4

[2022-07-20 18:26] Brend-Smits commented on #44
Hey @aasim,
I check the release assets included, but do not see any signatures included. Am I missing something?
How are the release assets signed? I tried finding a step in the CI/CD workflows, but couldn't find it.
Happy to help sign the assets using Sigstore.

[2022-07-20 18:52] Dentrax commented on #44
This issue just closed, but couldn't see any related PR that fixes this one. Or I'm missing something? 🤔

[2022-07-20 18:59] ByAgenT commented on #44
Apologize for a little miscommunication. Right now only windows binary is signed and we're working on providing integrity validation for the rest of binaries and SBOM files. Release assets are going to be produced in the private pipeline from now on and will be signed by Microsoft certificates.

I'll keep this opened until we figure out signing process for unix binaries

[2022-07-21 18:16] #67 closed

[2022-07-21 21:13] #66 closed

[2022-07-22 12:04] henning-krause opened #72 "Can't generate an SBOM for directories containing a space"
I execute this command on Windows (doesn't matter if I use cmd or PowerShell):

[code]
The tool runs and creates a manifest, however no depedencies are found.

Program output:
[code]

If I run the tool on a directory without spaces, everything works fine.

[2022-07-22 15:29] rgl opened #73 "distribute the binaries as dotnet tool install sbom-tool"
it would be pretty convenient to be able to install the binaries with `dotnet tool install sbom-tool` and run it as `dotnet tool run sbom-tool`.

this would let us declare all the project tool dependencies in the `.config/dotnet-tool.json` file and restore them all with `dotnet tool restore`.

[2022-07-22 16:41] rgl opened #74 "sbom-tool generate -ManifestDirPath _manifest creates nested directory"
Executing `sbom-tool generate -ManifestDirPath _manifest` creates an unexpected `_manifest` nested sub-directory:

![image](https://user-images.githubusercontent.com/43356/180485325-c0ecd13e-cff8-43ad-997d-5df11c3c9ef3.png)

Just to clarify, although this is written in the documentation, I think its not the expected behaviour:

[code]

If this is working as expected (I hope not, because creating a

[2022-07-22 19:56] aasim commented on #74
We create the _manifest directory automatically. You don't have to specify the `_manifest` directory yourself. You can just specify the directory where you want the SBOM to be stored in that parameter, so in this case the `net6.0` directory.

[2022-07-22 20:06] rgl commented on #74
I was just trying to say that from a first-user perspective, the creation of the `_manifest` directory is somewhat unexpected (actually, the creation of any directory is unexpected to me). Because the argument name kinda leads one to assume that the value we set will be the final directory, and the manifest would be placed immediately there; but instead, we find the actual manifests in a two-level

[2022-07-22 22:17] MiYanni commented on #74
@aasim This is the exact same issue I mentioned from here in that email thread: https://github.com/microsoft/dropvalidator/issues/498

I'm telling ya, the description of that parameter is extremely misleading. It really shouldn't be generating a `_manifest` directory, and wasn't doing this prior to the changes in June. I 100% agree with @rgl here that the documentation needs updated if this is int

[2022-07-24 19:07] Brend-Smits commented on #56
This workaround does not seem to work for me when using the GitHub cloud runners (ubuntu-22).
I'm trying with:
[code]

Tried by setting the environment variable in the step level, as well as when executing the command.
In both scenarios, it will hang indefinitely. Am I missing something?

[2022-07-25 02:34] newertp opened #77 "ScanLinuxAsync logged InvalidOperationException: cannot hijack chunked or content length stream"
[INFO] ScanLinuxAsync logged InvalidOperationException: cannot hijack chunked or content length stream
[WARN] Scanning of image sha256:xxxxxxxxxxxxx failed with exception: cannot hijack chunked or content length stream

I encountered the problem above when I scan docker images. How to fix this?

[2022-07-25 04:50] sachinshaji opened #78 "Dev/stage/prod dependencies"
Is there a way to filter out dependencies? In my case I want to include only production dependencies and opt out dev/stage dependencies. Is that a possible option? I believe by default Microsoft SBOM generator will capture all dependencies and generate BOM.

[2022-07-25 17:16] aasim commented on #78
@sachinshaji You are correct, currently we don't have a way to seperate out dev/stage dependencies from production.

[2022-07-26 05:35] sgupta22altair opened #81 "SBOM for C/C++ (Cmake)"
sbom-tool is able to generate sbom for C/C++ projects if it is using cmake

[2022-07-26 16:22] chcosta opened #82 "Network reliability improvement needed"
When attempting to generate sbom for a binary drop from a file server, I often have to make multiple attempts before I can successfully generate an sbom.  This leads to building a lot of infrastructure in a lot of places to support what is perceived as a "flaky" tool.  Additionally, we have to make different design decisions when we cannot reliably generate an SBOM from a (secured) network share a

[2022-07-26 17:57] edgarrs commented on #74
@aasim , should we just update the documentation?

[2022-07-26 17:59] edgarrs commented on #77
@newertp, Can you provide more details about the repro so we can help out?

[2022-07-26 18:02] edgarrs commented on #78
@ksigmund , I think you work on a feature to filter our packages from SBOM specifying the exceptions in the command line, right?

[2022-07-26 21:28] ksigmund commented on #78
What I'd added was a way to specify additional arguments to component detection.

[2022-07-27 10:58] Brend-Smits opened #84 "Wrong supplier in RootPackage of SBOM"
Hey there,

I am working on generating an SBOM for a GitHub Action that sets up this SBOM-Tool in a convenient way (see: https://github.com/philips-software/sbom-tool-installer-action). After generating the SBOM, I noticed that the [supplier](https://spdx.github.io/spdx-spec/package-information/#75-package-supplier-field) field of the ``RootPackage`` is set to ``Organization: Microsoft``, which se

[2022-07-27 11:10] Brend-Smits opened #85 "Missing license of RootPackage in SBOM"
Hey there,

I am working on generating an SBOM for a GitHub Action that sets up this SBOM-Tool in a convenient way (see: https://github.com/philips-software/sbom-tool-installer-action). After generating the SBOM, I noticed that the [license](https://spdx.github.io/spdx-spec/package-information/#713-concluded-license-field) field of the ``RootPackage`` is set to ``NOASSERTION``. This might be inten

[2022-07-28 11:21] stephenrwalli commented on #53
Thanks, @aasim, for all the digging and finding the last of the missing packages. I have a clean build.

[2022-07-28 11:21] #53 closed

[2022-07-29 12:56] alexdresko opened #87 "What is the nuget package for?"
I'm feeling dumb, but it seems like the instructions say to install a nugget package without explaining what the package is for or how to use it.

[2022-07-29 17:34] aasim commented on #81
@sgupta22altair do you have a question?

[2022-07-29 17:35] aasim commented on #84
Thanks for bringing this to our attention, will add a parameter to the tool for this.

[2022-07-29 17:35] aasim commented on #87
I have just added some documents on how to use the nuget package.

[2022-07-29 17:41] #18 closed

[2022-07-29 17:41] #45 closed

[2022-07-29 17:41] #74 closed

[2022-07-29 17:41] #87 closed

[2022-07-29 17:42] aasim commented on #87
https://github.com/microsoft/sbom-tool#sbom-api-nuget-package

[2022-07-29 18:16] patriksvensson commented on #45
Not sure why you closed this, to be honest. The problem is the Nuget.config in the root (which you should remove). I have all the required SDK:s to build this.

[2022-07-29 22:50] LanceMcCarthy opened #88 "[Feature Request] Generate HTML page along with SBOM json"
It would be an excellent feature to add a flag, maybe `-generate-webpage` that would include an HTML page that is directly connected to the json file path at the same root.

Similar to how you can generate a webpage with MSIX's .appinstaller.  As a simple example:

[code]

[2022-07-30 09:59] Brend-Smits commented on #84
Is this something I can help with? I don't mind opening a PR.

[2022-08-02 17:37] edgarrs commented on #78
@sachinshaji , would the ability to exclude folders for dependencies detection help you in this case?

[2022-08-02 18:01] edgarrs commented on #85
Hi @Brend-Smits, would you like to send a PR for this?

[2022-08-02 18:02] edgarrs commented on #84
Thanks @Brend-Smits , @ByAgenT is already working on a fix for this. But how about you help us fixing https://github.com/microsoft/sbom-tool/issues/85?

[2022-08-03 05:05] sachinshaji commented on #78
Sorry to say that it didn't. Our dev/stage/prod dependencies are present in a single file so the mentioned approach couldn't solve the issue.
Thanks for the response

[2022-08-03 05:59] sbs2001 opened #93 "Is there a docker image for the tool ?"

[2022-08-03 08:54] newertp commented on #77
[INFO] Finding components...
[VERBOSE] shrinkwrap.yaml:pnpm-lock.yaml
[VERBOSE] Cargo.lock
[VERBOSE] yarn.lock
[VERBOSE] Gemfile.lock
[VERBOSE] Cargo.lock
[VERBOSE] *.spdx.json
[VERBOSE] Registered Microsoft.ComponentDetection.Detectors.Pnpm.PnpmComponentDetector
[VERBOSE] Registered Microsoft.ComponentDetection.Detectors.Spdx.Spdx22ComponentDetector
[VERBOSE] Registered Microsoft.ComponentDetecti

[2022-08-03 23:00] edgarrs opened #95 "Remove and rename references to DropValidator"
https://github.com/search?q=repo%3Amicrosoft%2Fsbom-tool%20DropValidator&type=code

[2022-08-04 06:47] aasim commented on #77
Is this a x86 or a ARM container? Currently only x86 containers are supported

[2022-08-08 06:00] newertp commented on #77
I have changed the container platform to x86, but still encountered the error.

[2022-08-09 01:38] newertp opened #99 "Encountered an error while generating json for packageInfo : Value cannot be null. (Parameter 'packageInfo')"
[INFO] Scan Manifest file: /tmp/ScanManifest_20220809093029.json
##[debug]Using the DirectoryTraversingFileToJsonProvider provider for the files workflow.
##[debug]Enumerating files under the root path xxx/frontend.
##[debug]Splitting the workflow into 8 threads.
##[debug]Running the generation workflow ...
##[debug]Using the CGScannedPackagesProvider provider for the packages workflow.
##[debug]S

[2022-08-09 01:39] #77 closed

[2022-08-09 13:50] FeynmanZhou opened #100 "How can I generate SBOM for a docker image?"
I want to generate SBOM for a docker image, but the command line requires multiple parameters according to [this sample](https://github.com/microsoft/sbom-tool/blob/main/docs/sbom-tool-cli-reference.md#scan-docker-images-for-dependency-packages),  which looks complicated. Is there a simple way to generate SBOM for a docker image like [Docker Sbom](https://docs.docker.com/engine/sbom/)?

[2022-08-09 16:34] bureado commented on #100
The easiest way I've found is `./sbom-tool generate -di <imageref> -b ./foo -pn bar -pv 0.1 -bc ./foo` where `foo` is an empty directory, and `pn=bar` is a namespace for the generated SBOM.

[2022-08-09 18:59] aasim commented on #100
@bureado has the right answer, that is the way to generate SBOMs using our tool.

Although, baz is not a valid URI, we need a valid URI as a parameter for the -nsb parameter.

[2022-08-09 18:59] #100 closed

[2022-08-09 19:00] aasim commented on #93
We currently don't have a docker image for our tool. However, we do accept contributions, and if you want, you can create an image for our tool and we can get it merged in

[2022-08-09 21:15] #99 closed

[2022-08-11 10:46] arunqa opened #103 "We have a requirement for the integration of a Vendor assessment questionnaire or Vendor management. Is there any option in sbom tool for this purpose?"
We have a requirement for the integration of a Vendor assessment questionnaire or Vendor management. Is there any option in sbom tool for this purpose?

[2022-08-12 12:05] karlmoor-cisco commented on #78
The component detection documentation seems to suggest that test dependencies are at least flagged up at this stage. Couldn't this be exposed as an argument to respect this flag and to include or exclude them based on this? At the minute it appears test dependencies in maven are not treated any differently.

https://github.com/microsoft/component-detection/blob/7537eed5e6becb8eb1dd6662e5ef6d346776

[2022-08-12 18:37] aasim opened #105 "Add a default 6-minute timeout on CD"
Add a timeout while calling the CD code so that we don't spend more than 6 minutes running their code and to prevent any hangs.

[2022-08-15 14:33] mschmieder opened #106 "Using private pypi repositories"
Hello,

I'm currently trying to see how we can use the sbom tool for our different software development platforms that use .netcore as well as python heavily.

I was trying to use the tool with a python projects that pulls in modules from a private pypi repository. Unfortunately the tool does not seem to recognise neither the PIP_CONFIG_FILE nor the PIP_EXTRA_INDEX_URLS.

Is there a way to use pri

[2022-08-16 15:47] JamieMagee commented on #105
We discussed this on our side, and we should be using the standard `CancellationToken` pattern[^1] if possible. From your side you will create a `CancellationTokenSource`, add a timeout, and provide us with the `CancellationToken`

[code]

[^1]: https://docs.microsoft.com/en-us/dotnet/csharp/programming-guide/concepts/async/cancel-async-tasks-after-a-period-of-time

[2022-08-16 17:43] edgarrs commented on #78
@daneshbadlani to follow up to see if there are other component detectors other than maven that flag test or development dependencies

[2022-08-16 17:44] #81 closed

[2022-08-16 17:46] #103 closed

[2022-08-16 17:52] edgarrs commented on #106
@aasim to redirect issue with Component Detectors

[2022-08-17 08:26] karlmoor-cisco commented on #78
There appears to be an open ticket against this. I would suggest that it's the component detection projects issue and `sbom-tool` is aligned to that. Once that issue is resolved, it's just a case of pulling in the new version of their code.

https://github.com/microsoft/component-detection/issues/198

[2022-08-17 11:45] yangdasen1 opened #108 "The referencecategory should be PACKAGE-MANAGER"
Using the [spdx online tool](https://tools.spdx.org/app/validate/) to verify the generated spdx file has a warning
<img width="928" alt="b7a34e07f1820c100c1222ef10517b6" src="https://user-images.githubusercontent.com/50187041/185109563-f243ebf2-b7ee-4880-a0dc-0fc7e25fd296.png">
The referencecategory should be PACKAGE-MANAGER instead of PACKAGE_MANAGER.

[2022-08-17 18:36] #47 closed

[2022-08-17 18:44] aasim commented on #106
@mschmieder Please refer to this document on how we parse out Python packages: https://github.com/microsoft/component-detection/blob/main/docs/detectors/pip.md.

If you have any further questions on how python detection works or if we can scan private repositories, please open an issue on the [component-detection](https://github.com/microsoft/component-detection/issues) repository, they will be ab

[2022-08-17 18:44] #106 closed

[2022-08-18 05:04] JamieMagee opened #109 "GitHub Action"
Create a GitHub Action to install and/or run the SBOM tool.

This doesn't need to be overly complex, and I would look to examples like [sigstore/cosign-installer][1] which has achieved this with a Bash script (No TypeScript/JavaScript required!)

[1]: https://github.com/sigstore/cosign-installer

[2022-08-18 12:41] Brend-Smits commented on #109
Hey @JamieMagee,

We created a small [sbom-tool-installer-action](https://github.com/philips-software/sbom-tool-installer-action) that currently just installs the sbom-tool and adds it to the $PATH for later easy use.
When the maintainers decide to sign their releases #44, we will also check for this. Hopefully it helps!

[2022-08-18 14:01] JamieMagee commented on #109
@Brend-Smits Wow! Thank you. I should have searched a little harder 😅

I was mainly suggesting writing it in Bash instead of TypeScript to avoid the compilation step. But, if you've got a TypeScript version working, then no reason to change it.

[2022-08-18 17:58] sbs2001 commented on #93
Created https://github.com/microsoft/sbom-tool/pull/110 .

@aasim  We'll need someway to publish the images to some registry. I don't know the Microsoft way to handle this.

If we want to publish to GHCR or Docker hub, we could have a Github action to publish image on cutting a release.

[2022-08-22 17:01] aasim commented on #109
Exciting @Brend-Smits! thanks that looks great.

@JamieMagee - we do have some docs on how to setup github actions for our tool [here](https://github.com/microsoft/sbom-tool/blob/main/docs/setting-up-github-actions.md), let me know if it needs any improvements.

[2022-08-23 17:40] edgarrs commented on #109
Thank you @Brend-Smits for creating the GitHub Action

[2022-08-23 17:40] #109 closed

[2022-08-23 17:46] edgarrs commented on #78
Once component detectors adds this functionality we will prioritize the integration with the sbom tool

[2022-08-23 19:13] Moosemorals opened #112 "-V flag ignored?"
Hiya,
  I'm running the tool with `-V Error` and still getting output tagged `[INFO]`.
  My guess is that you're missing an `[ArgShortcut("V")]` attribute from [CommonArgs.cs](https://github.com/microsoft/sbom-tool/blob/main/src/Microsoft.Sbom.Api/Config/Args/CommonArgs.cs#L20)?

[2022-08-24 05:13] #95 closed

[2022-08-24 07:02] newertp opened #114 "Encountered error while running ManifestTool generation workflow."
ENV: Ubuntu-20.04
Encountered error while running ManifestTool generation workflow. Error: Unable to load shared library 'MonoPosixHelper' or one of its dependencies. In order to help diagnose loading problems, consider setting the LD_DEBUG environment variable: libMonoPosixHelper: cannot open shared object file: No such file or directory

The same environment, when I used sbom-tool v0.1.13 to sca

[2022-08-24 07:05] newertp commented on #114
sorry, the command is below:
salus Generate -b ./test -bc ./test -pn Test -pv 0.0.1 -nsb https://test.com/ -V Verbose -m .

[2022-08-24 08:46] karlmoor-cisco commented on #78
Would it make sense to comment on the related ticket as such. Whilst it shows a linkage, nobody will necessarily know that this is the case.

[2022-08-24 09:07] johnbfs-dev opened #115 "'SPDX:2.2' is not supported by the SBOM tool"
Encountered error while running ManifestTool generation workflow. Error: The SBOM format 'SPDX:2.2' is not supported by the SBOM tool.

Same error for Ubuntu 22.04 LTS and Debian 11

[2022-08-24 09:30] johnbfs-dev commented on #114
Get this package installed to your Linux distribution
https://www.mono-project.com/download/stable/#download-lin

[2022-08-24 12:40] bruzzlerli commented on #115
Seeing the same on version v0.2.0 on Windows. The previous version v0.1.13 works as a temporary solution.

[2022-08-24 12:43] gizmohd commented on #115
Seeing same error on Redhat/CentOS

[2022-08-24 17:58] aasim commented on #115
I think the new version has some issues; I am rolling it back, please continue to use v0.1.13 for now.

[2022-08-24 17:58] #115 closed

[2022-08-24 18:06] aasim commented on #114
Hi @newertp - I just checked and looks like the newer version has some issues and I have rolled back the change. Please continue to use v0.1.13 for now, as we put out a fix to the new version, thanks.

[2022-08-24 18:06] #114 closed

[2022-08-24 20:19] #108 closed

[2022-08-25 08:31] newertp opened #116 "Does sbom-tool support the project which contains poetry.lock?"
As I found sbom-tool using [component-detection](https://github.com/microsoft/component-detection) to scan for components and dependencies, which support both requirements.txt and poetry.lock. But when I scanned the project with poetry.lock, it didn't work, regardless of scanning image or source code. It can generate sbom file correctly when I change poetry.lock to requirement.txt. What's the prob

[2022-08-26 16:27] daneshbadlani opened #117 "Documentation error and SBOM format error"
Mark Russinovich (Azure CTO) tried the tool and found a minor doc bug where “sbom-tool” is missing in this sample command line:

![image001](https://user-images.githubusercontent.com/38691121/186950052-fa7f79e4-f737-4182-89a8-1135542ad90e.png)

He also faced the following error when trying to run the guidance:

![image002](https://user-images.githubusercontent.com/38691121/186950196-71effbac-2910-

[2022-08-29 15:32] adriandiglio commented on #117
For the documentation bug, I suggest we add "sbom-tool" prior to the word generate. I understand that how you invoke "sbom-tool" depends on what environment you are running the tool, so perhaps it would make sense to share a couple different example commands based on different environments?

For the following error message, he is not using the -pn flag, which is required. I tried reproducing this

[2022-08-29 15:46] edgarrs commented on #117
I agree with @adriandiglio , let's add the command needed to execute the tool like other places in the documentation. For the second issue, I've seen it when some binaries are missing.

[2022-08-29 18:06] #84 closed

[2022-08-29 19:19] edgarrs commented on #117
I confirmed that it is an issue related to our release, I was able to repro it locally. We just moved to .NET 6 which changed the way we need to publish self-contained apps compared to .NET core 3.1, we used before. We are currently investigating how to make our self-contained app work with .NET 6 and in the meantime we removed the affected release in favor of the last working version.

[2022-08-30 10:17] CasperGN opened #122 "License information consistently results to NOASSERTION on different projects"
Hi,

I'm in the process of testing whether `sbom-tool` could satisfy our requirements for auto-generating sboms during pipeline executions. I've tried on several internal projects and consistently find that the generated sbom yields `NOASSERTION` on license information.

Example `requirements.txt` file:
[code]

Yields:

[code]

I'm unsure whether I'm doing something incorrectly here. The sbom is g

[2022-08-30 12:52] ycollet opened #123 "Shared library MonoPosixHelpers not found on MacOS"
I am using a Mac M1 and When I start sbom-tool, I've got an error message telling that shared library MonoPosixHelpers is not found.
MacOS version is 12.5.1

[2022-08-30 17:39] edgarrs commented on #117
Fixes for both issues are checked in we are doing additional testing for the new release

[2022-08-30 17:44] edgarrs commented on #112
Let's add the shortcut 'v' (lowercase to be consistent with other args)

[2022-08-30 17:47] edgarrs commented on #116
Let's update the component detection libraries to pick up all new changes including this one

[2022-08-30 17:51] edgarrs commented on #122
The library that we use to get the package information doesn't contain licensing information so we cannot provide that data. Feel free to create a feature request to get this looked at in the following repo:
https://github.com/microsoft/component-detection/issues/new

[2022-08-30 17:57] edgarrs commented on #123
@ycollet, we had a release that contained a bug that missed some libraries. Can you please try downloading the latest release and see if that works?

[2022-08-30 20:25] aasim commented on #123
@ycollet please try version 0.2.1 and confirm if this works now.

[2022-08-30 20:25] aasim commented on #117
The new release has been deployed. Please verify by running v0.2.1

[2022-08-30 22:04] ByAgenT commented on #116
Since we're not up to date with latest CD libs yet, poetry detector is still in beta for sbom-tool. But since 0.2.1 sbom-tool version you should be able to enable Poetry beta detector it by providing `-cd "--DetectorArgs Poetry=EnableIfDefaultOff"` argument. It may not be fully stable, but it probably better than nothing until we upgrade to the latest CD version.

[2022-08-31 07:16] CasperGN commented on #122
@edgarrs thanks for the reply!
I'll assess our time and discuss internally with the team about the contribution part. Awesome tool nonetheless!

Cheers,
Casper

[2022-08-31 07:16] #122 closed

[2022-08-31 13:41] jvanz opened #126 "Is the Rust/Cargo support ready for use?"
Hi!

I would like to ask for help to understand how the `sbom-tool` works for Rust code. We in the [Kubewarden team](https://github.com/kubewarden) are evaluating to use `sbom-tool` to generate the SPDX file for the Rust component of the [Kubewarden](https://www.kubewarden.io/) stack. But we are seeing some results that seems to be incomplete. When we run the `sbom-tool` in the Policy Server [repo

[2022-08-31 19:06] #72 closed, assigned to ByAgenT

[2022-08-31 21:01] aasim opened #127 "Log error and continue if detector returns unknown component"
If we update our CD dependencies, and we are returned a new type of component for which we don't have an adapter, don't fail the generation, instead log an error so that it shows up in telemetry. The SBOM generation should succeed.

[2022-08-31 21:11] ByAgenT commented on #126
Hi @jvanz. This looks like an issue with the underlying Rust detector we use in sbom-tool. I've created an issue https://github.com/microsoft/component-detection/issues/253 against the component-detection team, thanks for reporting that.

[2022-09-01 05:27] aasim opened #128 "Add additional documentation for Dockerfile detection"
Add examples and documentation to elaborate exactly how Dockerfile detection works and what the customers should expect to see in the final SBOM about the Dockerfile packages.

[2022-09-01 15:30] blowdart opened #129 "Considering publishing as a .NET tool."
Given that you're written in .NET it would be nice to see a .[net tool](https://docs.microsoft.com/en-us/dotnet/core/tools/global-tools).

This has a few advantages

1) It'll work in any build pipeline that supports .NET Core onwards
2) It's published as a nuget package, which is signed
3) I don't have to rely on curl or webrequest to install, the syntax is the same on all platforms.

[2022-09-01 18:55] ByAgenT commented on #32
This hangs because of the same reason as #56. .NET 6 migration didn't fix the issue, so future path forward is to work with PowerArgs to push a new version w/ a fix or just remove PowerArgs from the project. Besides that, gendocs pipeline needs complete rehaul and it's probably better to create a script to update docs locally rather than using a pipeline for that, so not enough reasons for me to s

[2022-09-01 18:55] #32 closed

[2022-09-02 15:22] blowdart commented on #73
It would also be an improvement over the OS specific install instructions, it would be pulling in signed nuget packages, and would work with any pipeline that can install .NET

[2022-09-08 12:02] FeynmanZhou opened #131 "Can't get the value of "downloadLocation" and "licenseConcluded""
Why I can't get the value of "downloadLocation" and "licenseConcluded" using SBOM-tool to generate SBOM for `alpine:3.15`? They are "NOASSERTION" from the result of SBOM-tool but can be found from the result of Docker SBOM. Is any step I missed?

**Using SBOM-tool to generate SBOM `alpine:3.15`**
[code]
Result:
[code]

**Using Docker SBOM to generate SBOM for `alpine:3.15`**

[code]

Result:
[code

[2022-09-08 22:29] lordneeko opened #132 "Create a SBOM as part this projects build process"
Creating a SBOM as part of this project does a few things. #1 it provides provence of this tool. #2 it sets the example #3 it provides example output of the tool, which can then be referenced in the readme and used to create create schemas for ingesting the output.

I've noticed that all of the new SBOM vendors that keep popping up since the EO was signed cannot even provide a SBOM of their own so

[2022-09-09 23:48] ByAgenT commented on #132
Our release build process produces SBOM for this tool, you can use it as an example. It is published along with tool binaries in [releases section](https://github.com/microsoft/sbom-tool/releases).

[2022-09-09 23:48] #132 closed

[2022-09-12 15:10] AArnott opened #134 "%temp%\GovCompDisc_Log_(stamp).log naming conflicts fail concurrent builds"
The sbom generator evidently creates a temporary file in a shared location, and assigns a timestamp to the filename. But in concurrent builds, second-resolution isn't enough to guarantee uniqueness, and we see builds frequently fail due to log file access conflicts.

For example, this command failed:

with this error:

There were many more project builds that were running similar commands simultan

[2022-09-13 19:55] jackdaus opened #135 "Supplier field not populated from NuGet packages"
I am generating an SBOM for a .NET 6 project. I am using the following CLI command:
`.\sbom-tool-win-x64.exe generate -b C:\PublishedCode -bc C:\SourceCode -pn MyProject -pv 1 -ps MyCompany -nsb https://MyCompany.org/MyProject`

But the generated SPDX file is missing the `supplier` data for all the packages. For example, I would expect this NuGet package published by Microsoft to contain the suppl

[2022-09-19 12:47] fcitwip opened #139 "the code of release v0.2.2 sbom-tool-linux-x64 is different with sbom-tool-osx-x64"
I am using the following command
`sbom-tool generate -b demo -bc demo -nsb https://demo.com/demo/demo/demo/demo -m demo -pn demo -pv v1.0`
in linux env,the following error will be reported.But it works normally in the mac environment
`Error: The value of PackageSupplier can't be null or empty.`
when i add the ps param in mac env, the following error will be reported
`Unexpected named argument: ps`

[2022-09-20 02:11] #139 closed

[2022-09-22 09:45] AliceShi789654 opened #142 "sbom Validate"
1. run command:
.\sbom-tool-win-x64.exe generate -b $filepath -bc $codepath -pn alicedemo -pv 1.0.0 -ps Alice -nsb https://alicedemo.com -m $manifestpath
2. To generate the file: $manifestpath\_manifest\spdx_2.2\manifest.spdx.json

3. run validate command:
.\sbom-tool-win-x64.exe Validate -b $filepath -o $outputpath -m $manifestpath -mi alicedemo:1.0.0

Error: Encountered error while running Manif

[2022-09-26 15:52] edgarrs opened #146 "Add command line parameter to display the version of the tool"
e.G. sbom-tool -v

[2022-09-26 21:27] danielsotopino opened #148 "Not working on drone/harness docker container"
Hello,

Downloaded sbom locally and is working fine.

I tried some tests on our CI/CD (drone-harness) but sbom-tool cannot find anything...

Using an ubuntu img like this:
[code]

This is the result of the command:

[code]

[2022-09-27 15:29] edgarrs opened #149 "Consume ComponentDetection packages from nuget.org"
https://www.nuget.org/packages?q=Microsoft.componentDetection

[2022-09-27 15:45] edgarrs opened #150 "Remove dependency of Ninject.Extensions.Conventions package"
The package is used in the Microsoft.Sbom.Api project inside the Bindings.cs file

[2022-09-27 17:38] aasim commented on #123
Fixed in v 0.2.1

[2022-09-27 17:38] #123 closed

[2022-09-27 17:41] aasim commented on #127
@aasim to confirm if this is already fixed.

[2022-09-27 17:41] aasim commented on #128
Feedback from an external blog.

[2022-09-27 17:44] aasim commented on #131
We read these values from the docker component detector, please open an issue with their repo here: https://github.com/microsoft/component-detection/issues. Once they populate these fields in the detectors, we will pick them up and add it to the sbom.

[2022-09-27 17:44] #131 closed

[2022-09-27 17:47] aasim commented on #134
This log file might be written by the component detectors. @edgarrs to follow up with CD team for resolution.

[2022-09-27 17:48] aasim commented on #135
We read these values from the NuGet component detector, please open an issue with their repo here: https://github.com/microsoft/component-detection/issues. Once they populate these fields in the detectors, we will pick them up and add it to the sbom.

[2022-09-27 17:48] #135 closed

[2022-09-27 17:50] aasim commented on #142
The 'validate' scenario is currently not supported. This tool only generates SBOMs. We are working on a validate solution right now and we should have it ready in a couple of weeks.

[2022-09-27 17:51] edgarrs commented on #134
@AArnott , this file is created and used by the component detectors, please open an issue here:
https://github.com/microsoft/component-detection/issues/new

[2022-09-27 17:51] #134 closed

[2022-09-27 17:54] aasim commented on #148
@aasim to follow up on this.

[2022-09-27 17:56] aasim commented on #149
Also update the version of the CD detectors as part of this work.

[2022-09-27 17:56] aasim commented on #149
Delete the public feed once this work is done.

[2022-09-27 18:04] danielsotopino commented on #148
Ok i figured it out, i had to install maven in order to work.

[2022-09-27 18:04] #148 closed

[2022-09-28 15:39] edgarrs commented on #117
@daneshbadlani can you please try to repro the issue with the new release?

[2022-10-04 13:15] richardtallent-erm opened #157 "CLI should allow for reasonable defaults"
First time using this tool, and I find it frustrating that so many command-line options are required. Most should have reasonable defaults, or be auto-detected. I just spent 10 minutes looking at a the `[INFO] Scan manifest file...` with no indicator of progress, finally hit Enter and got:

[code]

[2022-10-04 17:45] edgarrs commented on #157
@daneshbadlani , what are your thoughts on this request?

[2022-10-04 18:29] aasim commented on #127
Fixed here: https://github.com/microsoft/sbom-tool/blob/5e43e196eb54be6e84e65b51ebe6cdff9d3aba8d/src/Microsoft.Sbom.Api/Executors/ComponentToPackageInfoConverter.cs#L56

[2022-10-04 18:29] #127 closed

[2022-10-05 14:56] ArgTang commented on #157
+1 for this one. trivy and syft have much easier entrypoint for generating sbom
Any idea why sbom-tool requires all these arguments when competing tools dont?

[2022-10-11 17:43] edgarrs commented on #157
@daneshbadlani will come up with a proposal for default values

[2022-10-21 02:31] AArnott commented on #134
@edgarrs Now that the linked bug has been fixed, how will we get an updated SBOM tool that includes that fix?

[2022-10-25 17:42] edgarrs commented on #149
@aasim , you are already taking care of this, right?

[2022-10-27 17:18] AArnott opened #163 "Microsoft.ManifestTool fails due to file access collision across processes"
The tool failed with this error while in a parallel build:

Can this tool be fixed to be safe to call concurrently? e.g. come up with more unique random filenames?

[2022-11-04 22:53] edgarrs commented on #149
#162

[2022-11-04 22:53] #149 closed

[2022-11-08 18:42] edgarrs commented on #117
Danesh was not able to repro the issue anymore

[2022-11-08 18:42] #117 closed

[2022-11-08 18:46] aasim commented on #163
@AArnott we don't generate any files while generating the SBOM. We only read the files to generate their checksums. This file is probably being written to by some other process.

The expectation is that the drop is complete by the time we generate the SBOM. Let me know how we can improve this process to make it work for your case.

[2022-11-08 19:00] aslotte opened #167 "[Feature request] - Scan and provide SBOM of a .msi package"
It would be awesome if the tool would be able to scan a `.msi` file, and based on that provide the SBOM.

[2022-11-09 16:46] AArnott commented on #163
This error was produced by this tool. #134 is another issue that was fixed and admitted to impact this tool. The bug itself as you can see over there, was in another piece of software, but it's software that is executed by this tool.
I don't really care which library or sub-tool is responsible for creating these files, because at the end of the day all I have visibility into is that my builds are

[2022-11-09 19:24] #150 closed

[2022-11-09 19:24] ksigmund commented on #150
#166

[2022-11-10 22:08] #105 closed

[2022-11-10 22:09] ksigmund commented on #105
We ended up using a default of 15 minutes, which can be overridden by adding the `Timeout` argument, alone with the number of seconds, to the list of `AdditionalComponentDetectorArgs`.

[2022-11-11 10:48] newertp opened #172 "Sbom-tool can scan project with poetry.lock, but wrote 0 package."
When I used sbom-tool to scan the project with poetry.lock, it wrote 0 package elements in the SBOM regardless of source code or docker images. But it seemed that it scanned normally. For detail, please see the screenshot below:

<img width="1334" alt="image" src="https://user-images.githubusercontent.com/20756231/201321759-a30dca12-cebe-49b8-a451-dc0d29e1ed0a.png">

The command is as follows:
For

[2022-11-15 18:43] edgarrs commented on #172
We have new detectors being executed and we are not writing packages in the SBOM. Let's add the new component mappings into the sbom-tool

[2022-11-16 21:27] aasim opened #177 "Return validation results for SBOM validator API"
Currently the validator returns a Boolean value and the validation result is written to disk. Change this signature and make it return the actual validation result.

https://github.com/microsoft/sbom-tool/blob/2290a485fabf0b7a166fe994cfb0ff0fb1e49059/src/Microsoft.Sbom.Contracts/ISBOMValidator.cs#LL32C11-L32C11

https://github.com/microsoft/sbom-tool/blob/2290a485fabf0b7a166fe994cfb0ff0fb1e49059/s

[2022-11-17 03:30] newertp opened #178 "Why the supplier data of all packages generated by sbom-tool are all NOASSERTION?"
After I generated the sbom file with sbom-tool, I found that all the package's supplier were NOASSERTION. Please have a look below:
[code]
Is this a bug? Or the way I used is wrong. The command is like this:
salus Generate -b ./test -bc ./test -pn Test -pv 0.0.1 -ps test -nsb https://test.com/ -V Verbose -m .

[2022-11-21 10:22] Licho1 opened #179 "v0.3.0 windows build fails to run due to libMonoPosixHelper being bad image format"
[code]

[2022-11-28 09:10] anotherbridge opened #180 "Additionally add SHA512 checksum to SBOM"
When running the command
[code]
the resulting SBOM creates the SHA1 & and SHA256 hashes of all the files in the package considered. However, I additionally want to have the SHA512 in that list.

From the documentation that is present so far and the CLI-reference I cloudn't find a way to modify this default behavior. What I would imagine is that this could maybe done with a `config.json` file.
Is t

[2022-11-29 18:42] edgarrs commented on #179
Hi @Licho1, can you please share detailed repro steps so we can try it on our side?

[2022-11-29 18:43] edgarrs commented on #178
The sbom-tool doesn't have information about the suppliers

[2022-11-30 16:16] Rtalos commented on #179
I am also experiencing this.

- Azure pipeline yaml
- Self-hosted windows agent

**Failing scenario with Powershell task and error output:**
[code]

![image](https://user-images.githubusercontent.com/19684631/204848622-cf48ffdd-3a6a-4d23-8dfa-623272f09d84.png)

**Working scenario with Powershell task:**
[code]

**Full stack trace if needed:**
[code]

[2022-11-30 17:05] rokreis opened #181 "Current version of Windows Binary fails locally on Win10/x64"
Dear all,

I tried to run the provided binary, but it seems it has a mixture of families (x32, x64), but maybe I'm just wrong.
Here the stacktrace after just running the binary locally:

--- SNIP ---
Unhandled exception. System.Reflection.TargetInvocationException: Exception has been thrown by the target of an invocation.
 ---> System.BadImageFormatException:
File name: 'C:\Users\<USERNAME>\AppDat